{% include 'partials/header.html' %}
<h1>Comments</h1>
<table class="table">
    <thead style="background-color: #555555">
    <tr>
        <th scope="col" style="color:white">#</th>
        <th scope="col" style="color:white">Owner</th>
        <th scope="col" style="color:white">OnTheme</th>
        <th scope="col" style="color:white">Content</th>
        <th scope="col" style="color:white">Date</th>
        <th scope="col" style="color:white">Likes</th>
        <th scope="col" style="color:white">Dislikes</th>
    </tr>
    </thead>
    <tbody>
     {% for comment in comments %}

        <tr>
            <th scope="row">{{comment.id}}</th>
            <td>{{comment.username}}</td>
            <td>{{comment.theme_id}}</td>
            <td>{{comment.content}}</td>
            <td>{{comment.date}}</td>
            <td><span style="color:green">{{comment.likes}}</span></td>
            <td><span style="color:red">{{comment.dislikes}}</span></td>
        </tr>

     {% endfor %}

    </tbody>
</table>


{% include 'partials/footer.html' %}